<div class="justify-content-around flex-wrap" role="group" id="baseColorSelectors">
	<button type="button" class="btn btn-dark colorSelector baseColorSelector" id="bodyColorButton" data-colordata="" data-hexString="" value="body">
		<i class="fas fa-horse-head"></i> Body Color
	</button>
	<button type="button" class="btn btn-dark colorSelector baseColorSelector" id="hairColorButton" data-colordata="" data-hexString="" value="hair">
		<i class="fas fa-horse-head"></i> Mane/Tail Color
	</button>
	<button type="button" class="btn btn-dark colorSelector baseColorSelector" id="hornColorButton" data-colordata="" data-hexString="" value="horn">
		<i class="fas fa-horse-head"></i> Horn Color
	</button>
	<button type="button" class="btn btn-dark colorSelector baseColorSelector" id="hoofColorButton" data-colordata="" data-hexString="" value="hoof">
		<i class="fas fa-horse-head"></i> Hoof Color
	</button>
	<button type="button" class="btn btn-dark colorSelector baseColorSelector" id="eyeColorButton" data-colordata="" data-hexString="" value="eyes">
		<i class="fas fa-horse-head"></i> Eye Color
	</button>
</div>
<div class="justify-content-around flex-wrap" role="group" id="geneColorSelectors">
	<button type="button" class="btn btn-dark colorSelector geneColorSelector" id="bodyGeneColorButton" data-colordata="" data-hexString="" value="bodyGene">
		<i class="fas fa-dna"></i> Body Gene Color
	</button>
	<button type="button" class="btn btn-dark colorSelector geneColorSelector" id="hairGeneColorButton" data-colordata="" data-hexString="" value="hairGene">
		<i class="fas fa-dna"></i> Mane/Tail Gene Color
	</button>
	<button type="button" class="btn btn-dark colorSelector geneColorSelector" id="tertGeneColorButton" data-colordata="" data-hexString="" value="tertiaryGene">
		<i class="fas fa-dna"></i> Tertiary Gene Color
	</button>
	<button type="button" class="btn btn-dark colorSelector geneColorSelector" id="hornGeneColorButton" data-colordata="" data-hexString="" value="hornGene">
		<i class="fas fa-dna"></i> Horn Gene Color
	</button>
	<button type="button" class="btn btn-dark colorSelector geneColorSelector" id="hoofGeneColorButton" data-colordata="" data-hexString="" value="hoofGene">
		<i class="fas fa-dna"></i> Hoof Gene Color
	</button>
	<button type="button" class="btn btn-dark colorSelector geneColorSelector" id="eyeGeneColorButton" data-colordata="" data-hexString="" value="eyeGene">
		<i class="fas fa-dna"></i> Eye Gene Color
	</button>
</div>