<!-- Nav tabs -->
<ul id="instructiontabs" class="nav nav-pills d-none" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true"></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2" aria-selected="false"></button>
  </li>
</ul>

<!-- Tab panes -->
<div id="instructiontabs-content" class="tab-content border border-secondary border-2 rounded d-none">
  <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab"></div>
  <div class="tab-pane" id="tab2" role="tabpanel" aria-labelledby="tab2-tab"></div>
</div>