<!-- Nav tabs -->
<h6></h6>
<ul id="instructiontabs" class="nav nav-pills d-none" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true">KEYBOARD CONTROLS</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2" aria-selected="false">POINTER CONTROLS</button>
  </li>
</ul>

<!-- Tab panes -->
<div id="instructiontabs-content" class="tab-content border border-secondary border-2 rounded d-none">
  <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
    <ol>
      <li>To RUN LEFT, use the Left Arrow Key <-</li>
      <li>To RUN RIGHT, use the Right Arrow  Key -></li>
      <li>To JUMP STRAIGHT UP, use the Up Arrow  Key ^</li>
      <li>To LEAP FORWARD, hold the LEFT ARROW <- or RIGHT ARROW -> and hit the UP ARROW ^. This will allow you to jump over small obstacles or leap across gaps</li>
      <li>Can't jump high enough? You've found a LEDGE. Jump and grab ledges by pressing the Up Arrow ^ and the 'G' Key. You can also LEAP TOWARDS LEDGES by simultaneously pressing Up Arrow ^ AND the 'G' Key along with the LEFT ARROW <- or RIGHT ARROW -></li>
      <li>Once you're grabbing a ledge, climb up onto it by pressing the 'C' key.</li>
      <li>TIP: Having trouble with a ledge? Some are more challenging than others, but none are impossible! Try moving slightly closer or further from the base of the ledge before jumping to grab it, and make sure you're facing towards the ledge you want to grab.","Still having ledge trouble? Click the Easy Mode button to toggle targets that will show you exactly where the ledges are.</li>
    </ol>
  </div>
  <div class="tab-pane" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
    <ol>
      <li>To RUN LEFT or RUN RIGHT, place your cursor or fingertip in front of the sprite or behind it, and hold down your fingertip or the left-hand mouse button</li>
      <li>TIP: you're leading the sprite around the map with your fingertip or cursor. It won't work if you're clicking or touching too far away!</li>
      <li>To JUMP STRAIGHT UP, tap once on the sprite.</li>
      <li>To LEAP FORWARD, right-click with the right-hand mouse button, or tap with two fingers. This will allow you to jump over small obstacles or leap across gaps</li>
      <li>Can't jump high enough? You've found a LEDGE. You can reach ledges by jumping: for ledges directly above you, single-tap the sprite to jump straight up; to reach a ledge above and in front of you, right-click or two-finger tap to leap forward.</li>
      <li>Once you're grabbing a ledge, climb up onto it by tapping once on the sprite.</li>
      <li>TIP: Having trouble with a ledge? Some are more challenging than others, but none are impossible! Try moving slightly closer or further from the base of the ledge before jumping to grab it, and make sure you're facing towards the ledge you want to grab.","Still having ledge trouble? Click the Easy Mode button to toggle targets that will show you exactly where the ledges are.</li>
    </ol>
  </div>
</div>