<% include header %>

<!--need for modal: 
        switch header text in: <h5 class="modal-title" id="modalLabel">Oops, you're not supposed to see this.</h5>
        switch unicorn image in: <img src="" id="modal-unicorn-image" class="choosemodal-image img-fluid">
        switch region text in: <p id="modal-text" class="textboxes text-center"></p>
        switch region bg on: <div class="modal-content">
    -->
    
    
    
<% include footer %> 


