<nav class="navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand d-none d-lg-inline mx-auto" href="/index" id="sitelogo"><img src="/../../assets/site_imgs/site_logos/logo_scaled.png" alt="Sunflame Mountain - Go to Index" class="img-fluid"></a>
  		<a href="/index"><h1 class="mx-auto d-inline d-lg-none textlogo text-center text-wrap p-2 btn bg-dark bg-gradient border border-light border-2 rounded">Sunflame Mountain</h1></a>
		<button class="navbar-toggler mx-auto border border-dark bg-primary bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		   <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse p-2 border border-light border-2 rounded" id="navbarSupportedContent">
		  	<ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-around flex-column flex-md-row">
				<li class="nav-item">
				  	<a class="nav-link active border border-light border-3 rounded bg-dark bg-gradient p-2" aria-current="page" href="/home/<%= loggedInUser.userid %>">Home</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link border border-light border-3 rounded bg-dark bg-gradient p-2" href="#" tabindex="-1" aria-disabled="true">About the Project</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link border border-light border-3 rounded bg-dark bg-gradient p-2" href="/credits" tabindex="-1" aria-disabled="true">Credits</a>
				</li>
				<li class="nav-item">
					<div class="login-links">
						<% if(!loggedInUser){ %>
							<a class="nav-link text-light border border-light border-3 rounded bg-dark bg-gradient p-2" href="/login"><i class="fas fa-chevron-right"></i> Log In <i class="fas fa-chevron-left"></i></a>
							<a class="nav-link text-light border border-light border-3 rounded bg-dark bg-gradient p-2" href="/register"><i class="fas fa-chevron-right"></i> Register <i class="fas fa-chevron-left"></i></a>
						<% } else { %>
							<a class="nav-link text-light border border-light border-3 rounded bg-dark bg-gradient p-2" href="/logout"><i class="fas fa-chevron-right"></i> Log Out <i class="fas fa-chevron-left"></i></a>
						<% } %>    
					</div>
				</li>
		  	</ul>
		</div>
	</div>
</nav>
<% include flash %>