<nav class="navbar navbar-dark">
  <a class="navbar-brand" href="/index" id="sitelogo"><img src="/resources/site_logos/sunflameMtnLogo_tidy_small.png" alt="Sunflame Mountain - Go to Index" class="img-fluid d-none d-lg-inline"></a>
  <h1 class="d-inline d-lg-none textlogo text-center">Sunflame Mountain</h1>
  <button class="navbar-toggler border border-dark bg-primary" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav border border-light flex-lg-row justify-content-around">
      <li class="nav-item active">
        <a class="nav-link text-white" href="/home/<%= loggedInUser.userid %>"><i class="fas fa-chevron-right"></i> Herd <i class="fas fa-chevron-left"></i><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#"><i class="fas fa-chevron-right"></i> Features <i class="fas fa-chevron-left"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#"><i class="fas fa-chevron-right"></i> About & Credits <i class="fas fa-chevron-left"></i></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fas fa-chevron-right"></i> 
          Dropdown link
			<i class="fas fa-chevron-left"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item text-white" href="#">Action</a>
          <a class="dropdown-item text-white" href="#">Another action</a>
          <a class="dropdown-item text-white" href="#">Something else here</a>
        </div>
      </li>
	  <li class="nav-item text-white dropdown">
			<div class="login-links">
				<% if(!loggedInUser){ %>
					<a class="nav-link text-white" href="/login"><i class="fas fa-chevron-right"></i> Log In <i class="fas fa-chevron-left"></i></a>
					<a class="nav-link text-white" href="/register"><i class="fas fa-chevron-right"></i> Register <i class="fas fa-chevron-left"></i></a>
				<% } else { %>
					<a class="nav-link text-white" href="/logout"><i class="fas fa-chevron-right"></i> Log Out <i class="fas fa-chevron-left"></i></a>
				<% } %>    
			</div>
		</li>
    </ul>
  </div>
</nav>