<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNavbar">
    <a class="navbar-brand" href="#" id="sitelogo"><img src="/resources/sunflameMtnLogo_tidy_small.png" alt="Sunflame Mountain" class="img-fluid d-none d-lg-inline"></a>
    <h1 class="d-inline d-lg-none textlogo text-center">Sunflame Mountain</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Explore</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Your Herd
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Inventory</a>
            <a class="dropdown-item" href="#">Equip</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Customize</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About & Credits</a>
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <div class="login-links">
            <% if(!currentUser){ %>
                <a href="/login">Log In</a>
                <a href="/register">Register</a>
            <% } else { %>
                <a href="/logout">Log Out</a>
            <% } %>    
        </div>
    </div>
</nav>
