<div class="modal fade" id="progressPopup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="progressPopupLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content bg-success bg-gradient border-light border-2 rounded">
      <div class="modal-body text-center m-5 p-3">
        <p class="display-5 text-light fw-bold">Working on it, please wait...</p>
        <img class="mx-auto d-block" src="/../../assets/site_imgs/site_icons/magicloader.svg"/>
      </div>
    </div>
  </div>
</div>