<% include ./partials/header %>

<!-- header with vector image, grid of cards with each unicorn having themed background on card 
Put descrip below uni icon, put fullsize img in modal, only have descript at large size if at ALL in modal-->
<div class="gridCard card h-100 text-center">
    <img class="card-img-top" src="../resources/compassheader.png" alt="Card image cap">
    <div class="container">
        <h1 class="">Your Journey Begins Here</h1>
        <img src="../resources/welcome_sunflameMtnLogo.png" class="img-fluid w-75 m-3" alt="Responsive image">
        <p class="sr-only">Welcome to Sunflame Mountain</p>
        <p class="textboxes lead border border-dark p-1">With your chosen founder at your side, you set forth into the realm of Sunflame Mountain. Now you must choose your home region. Where would you like to begin your herd? You can migrate to a new region later, but be warned: the journey isn't an easy one. Each region is full of wonders... and dangers, too. Choose wisely.</p>
    </div>
    <div class="regionMap gridCardBody card-body text-center">
        <!-- unicorn card grid goes here -->
        <div class="gridRow row justify-content-center">
            <div class="col-12 col-sm-4 mb-3 d-flex align-items-stretch">
                <div class="regionCard card align-content-center">
                    <a href="" class="btn btn-success btn-md" data-toggle="modal" data-target="#chooseModal" data-title="Arctic">View</a>
                    <img class="regionImg card-img-top" src="../resources/map/arctic_mapIcon.png" id="arctic" alt="Arctic">
                </div>
            </div>
            <div class="col-12 col-sm-4 mb-3 d-flex align-items-stretch">
                <div class="regionCard card align-content-center">
                    <a href="" class="btn btn-success btn-md" data-toggle="modal" data-target="#chooseModal" data-title="Mountains">View</a>
                    <img class="regionImg card-img-top" src="../resources/map/mountains_mapIcon.png" id="mountains" alt="Mountains">
                </div>
            </div>
            <div class="col-12 col-sm-4 mb-3 d-flex align-items-stretch">
                <div class="regionCard card align-content-center">
                    <a href="" class="btn btn-success btn-md" data-toggle="modal" data-target="#chooseModal" data-title="Forest">View</a>
                    <img class="regionImg card-img-top" src="../resources/map/forest_mapIcon.png" id="forest" alt="Forest">
                </div>
            </div>
        </div>
        <div class="gridRow row justify-content-center">
            <div class="col-12 col-sm-4 mb-3 d-flex align-items-stretch">
                <div class="regionCard card align-content-center">
                    <img class="regionImg card-img-top" src="../resources/map/swamp_mapIcon.png" id="swamp" alt="Swamp">
                    <a href="" class="btn btn-success btn-md" data-toggle="modal" data-target="#chooseModal" data-title="Swamp">View</a>
                </div>
            </div>
            <div class="col-12 col-sm-4 mb-3 d-flex align-items-stretch">
                <div class="regionCard card align-content-center">
                    <img class="regionImg card-img-top" src="../resources/map/savannah_mapIcon.png" id="savannah" alt="Savannah">
                    <a href="" class="btn btn-success btn-md" data-toggle="modal" data-target="#chooseModal" data-title="Savannah">View</a>
                </div>
            </div>
            <div class="col-12 col-sm-4 mb-3 d-flex align-items-stretch">
                <div class="regionCard card align-content-center">
                    <img class="regionImg card-img-top" src="../resources/map/desert_mapIcon.png" id="desert" alt="Desert">
                    <a href="" class="btn btn-success btn-md" data-toggle="modal" data-target="#chooseModal" data-title="Desert">View</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="chooseModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"> 
      <div class="modal-header">
        <h2 class="modal-title uni-title reg-title" id="modalLabel">Oops, you're not supposed to see this.</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="" id="modal-image" class="choosemodal-image img-fluid"> 
        <p id="modal-text" class="text-center"></p> 
      </div>
      <div class="modal-footer">
        <form action="/chooseregion?_method=PUT" method="POST">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Go Back</button>
          <button type="submit" id="chooseThis" class="btn btn-success" name="selectedName" value="">Yes</button>
          <input id="chosenPic" name="selectedPic" value="" type="hidden">
        </form>
      </div>
    </div>
  </div>
</div>
<% include ./partials/footer %>