<% include ./partials/header %>

<!-- header with vector image, grid of cards with each unicorn having themed background on card 
Put descrip below uni icon, put fullsize img in modal, only have descript at large size if at ALL in modal-->
<div class="gridCard card h-100 text-center">
    <img class="card-img-top img-fluid" src="../resources/founderHeader.png" alt="Card image cap">
    <div class="container">
        <img src="../resources/welcome_sunflameMtnLogo.png" class="img-fluid w-75 m-3" alt="Responsive image">
        <p class="sr-only">Welcome to Sunflame Mountain</p>
        <p class="textboxes lead border border-dark p-1">It's nice to meet you, <%= currentUser.username %>. Now you must choose your herd founder. This is the unicorn with whom you'll begin your journey. You only get one chosen founder and you won't be able to pick a new one later on, so follow your instincts and choose carefully.</p>
    </div>
    <div class="gridCardBody card-body">
        <!-- unicorn card grid goes here -->
        <div class="gridRow row">
            <div class="col-12 col-sm-6 col-lg-3 mb-1 d-flex align-items-stretch">
                <div class="card align-content-center">
                    <img class="founders card-img-top" src="../resources/unicons/greenblack.png" id="greenblack" alt="Card image, black unicorn with green mane and tail">
                    <div class="uniCard card-body">
                        <h5 class="card-title">Spectral Unicorn</h5>
                        <p class="card-text">A ghostly, translucent creature of ink-black coat. Its mane, tail, legs, and horn shine with green iridescence. Its eyes glow softly as if stars burn within. You feel as if you've seen this creature in a dream...</p>
                    </div>
                    <a href="" class="btn btn-success btn-md modalbutton" data-toggle="modal" data-target="#chooseModal" data-title="Spectral Unicorn" data-id="greenblack">View</a>
                    <!--data-toggle launches the modal, data-target assigns button to the specific modal, data-title provides info to extract with Jquery-->
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mb-1 d-flex align-items-stretch">
                <div class="card align-content-center">
                    <img class="pastel founders card-img-top" src="../resources/unicons/pastel.png" id="pastel" alt="Card image, pastel purple and white unicorn">
                    <div class="uniCard card-body">
                        <h5 class="card-title">Pastel Unicorn</h5>
                        <p class="card-text">An elegant unicorn, delicately built. Its coat is a gentle pastel purple, its mane and tail soft white. Its horn and eyes are a bright, vivid purple. You hear the sound of soft music as it approaches.</p>
                    </div>
                    <a href="" class="pastel btn btn-success btn-md modalbutton" data-toggle="modal" data-target="#chooseModal" data-title="Pastel Unicorn" data-id="pastel">View</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mb-1 d-flex align-items-stretch">
                <div class="card align-content-center">
                    <img class="founders card-img-top" src="../resources/unicons/starry.png" id="starry" alt="Card image, purple unicorn with starry mane and tail">
                    <div class="uniCard card-body">
                        <h5 class="card-title">Starlit Unicorn</h5>
                        <p class="card-text">A magnificent unicorn whose coat is the deep purple of the galaxy. Its mane, tail, and horn glitter with starlight. Its hooves strike sparks as it walks and its horn leaves a trail of stars.</p>
                    </div>
                    <a href="" class="btn btn-success btn-md modalbutton" data-toggle="modal" data-target="#chooseModal" data-title="Starlit Unicorn" data-id="starry">View</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mb-1 d-flex align-items-stretch">
                <div class="card align-content-center">
                    <img class="founders card-img-top" src="../resources/unicons/heraldic.png" id="heraldic" alt="Card image, heraldic white unicorn with sword">
                    <div class="uniCard card-body">
                        <h5 class="card-title">Heraldic Unicorn</h5>
                        <p class="card-text">A noble beast with a snowy white coat. Its flowing mane and tail are golden, its horn is metallic gold. It bears a ruby-inlaid sword, which it seems to be offering to you...</p>
                    </div>
                    <a href="" class="btn btn-success btn-md modalbutton" data-toggle="modal" data-target="#chooseModal" data-title="Heraldic Unicorn" data-id="heraldic">View</a>
                </div>
            </div>
        </div>
        <div class="gridRow row">
            <div class="col-12 col-sm-6 col-lg-3 mb-1 d-flex align-items-stretch">
                <div class="card align-content-center">
                    <img class="founders card-img-top" src="../resources/unicons/flaxensorrel.png" id="flaxensorrel" alt="Card image, unicorn with red sorrel coat and flaxen mane and tail">
                    <div class="uniCard card-body">
                        <h5 class="card-title">Flaxen Sorrel Unicorn</h5>
                        <p class="card-text">A spirited unicorn with fiery eyes. Its coat is a deep, coppery red and its mane and tail are a soft flaxen color. It paws the ground and swings its golden horn side to side.</p>
                    </div>
                    <a href="" class="btn btn-success btn-md modalbutton" data-toggle="modal" data-target="#chooseModal" data-title="Flaxen Sorrel Unicorn" data-id="flaxensorrel">View</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mb-1 d-flex align-items-stretch">
                <div class="card align-content-center">
                    <img class="founders card-img-top" src="../resources/unicons/deericorn.png" id="deericorn" alt="Card image, small deerlike unicorn">
                    <div class="uniCard card-body">
                        <h5 class="card-title">Deerlike Unicorn</h5>
                        <p class="card-text">A small, curious creature that darts between the trees. This unicorn's coat is red and tawny, spotted like a fawn's with deep purple markings. Its tail is a long, red plume.</p>
                    </div>
                    <a href="" class="btn btn-success btn-md modalbutton" data-toggle="modal" data-target="#chooseModal" data-title="Deerlike Unicorn" data-id="deericorn">View</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mb-1 d-flex align-items-stretch">
                <div class="card align-content-center">
                    <img class="founders card-img-top" src="../resources/unicons/traditional.png" id="traditional" alt="Card image, traditional unicorn with white coat and silver mane and tail">
                    <div class="uniCard card-body">
                        <h5 class="card-title">Silver Unicorn</h5>
                        <p class="card-text">A unicorn with a graceful, silver horn. Its coat gleams pristine white, its mane and tail are shining silver. It watches you with wise, all-knowing eyes.</p>
                    </div>
                    <a href="" class="btn btn-success btn-md modalbutton" data-toggle="modal" data-target="#chooseModal" data-title="Silver Unicorn" data-id="traditional">View</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mb-1 d-flex align-items-stretch">
                <div class="card align-content-center">
                    <img class="founders card-img-top" src="../resources/unicons/chocopalo.png" id="chocopalo" alt="Card image, unicorn with dark brown coat and cream colored mane and tail">
                    <div class="uniCard card-body">
                        <h5 class="card-title">Chocolate Palomino Unicorn</h5>
                        <p class="card-text">A unicorn that arches its neck proudly as it prances. Its coat is a deep, rich brown and its mane and tail are flaxen. It holds its golden horn high.</p>
                    </div>
                    <a href="" class="btn btn-success btn-md modalbutton" data-toggle="modal" data-target="#chooseModal" data-title="Chocolate Palomino Unicorn" data-id="chocopalo">View</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="chooseModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="choosemodal-content modal-content"> 
      <div class="modal-header">
        <h2 class="modal-title uni-title reg-title" id="modalLabel">Oops, you're not supposed to see this.</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="" id="modal-image" class="choosemodal-image img-fluid"> 
        <p id="modal-text" class="text-center"></p> 
      </div>
      <div class="modal-footer">
        <form action="/choosefounder" method="POST">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Go Back</button>
          <button type="submit" id="chooseThis" class="btn btn-success" name="selectedName" value="">Yes</button>
          <input id="chosenPic" name="selectedPic" value="" type="hidden">
        </form>
      </div>
    </div>
  </div>
</div> 
<% include ./partials/footer %> 
