<% include ./partials/header %>
<div class="creditspage container-fluid">
	<nav class="navbar navbar-expand-lg navbar-light justify-content-center">
		<a class="navbar-brand d-none d-lg-inline mx-auto" href="/index" id="sitelogo"><img src="/../../assets/site_imgs/site_logos/logo_scaled.png" alt="Sunflame Mountain - Go to Index" class="img-fluid"></a>
  		<a href="/index"><h1 class="d-inline mx-auto d-lg-none textlogo text-center p-2 bg-dark bg-gradient border border-light border-2 rounded">Sunflame Mountain</h1></a>
	</nav>	
	<p class="textboxes">Sunflame Mountain Logo, Welcome to Sunflame Mountain Logo, region name text Logos, and Sunflame Unicorn Logo are designed by Sara Gardner. All other vector and graphics resources are used as per their licenses.</p>
	<ul class="credits nav nav-tabs nav-fill justify-content-center bg-dark bg-gradient border border-2 border-light rounded-1 my-2" id="myTab" role="tablist">
		<li class="nav-item">
			<button class="nav-link btn btn-dark" id="lineart-tab" data-bs-toggle="tab" data-bs-target="#lineart" role="tab" aria-controls="lineart" aria-selected="true">Lineart Assets</button>
		</li>	
		<li class="nav-item">
			<button class="nav-link btn btn-dark" id="platformerassets-tab" data-bs-toggle="tab" data-bs-target="#platformerassets" role="tab" aria-controls="platformerassets" aria-selected="false">Platformer Assets</button>
		</li>
		<li class="nav-item">
			<button class="nav-link btn btn-dark" id="equipperitem-tab" data-bs-toggle="tab" data-bs-target="#equipperitem" role="tab" aria-controls="equipperitem" aria-selected="false">Equipper Item Assets</button>
		</li>
		<li class="nav-item">
			<button class="nav-link btn btn-dark" id="landscapevectors-tab" data-bs-toggle="tab" data-bs-target="#landscapevectors" role="tab" aria-controls="landscapevectors" aria-selected="false">Landscape Vectors</button>
		</li>
		<li class="nav-item">
			<button class="nav-link btn btn-dark" id="siteuistock-tab" data-bs-toggle="tab" data-bs-target="#siteuistock" role="tab" aria-controls="siteuistock" aria-selected="false">Site UI Vector Stock</button>
		</li>
		<li class="nav-item">
			<button class="nav-link btn btn-dark" id="brushes-tab" data-bs-toggle="tab" data-bs-target="#brushes" role="tab" aria-controls="brushes" aria-selected="false">GIMP Brushes</button>
		</li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane fade" id="lineart" role="tabpanel" aria-labelledby="lineart-tab">
			<ul>
				<li><a href="https://www.deviantart.com/requay/art/Arabian-Horse-Lineart-132290868">Arabian Horse Lineart by ReQuay</a></li>
				<li><a href="https://www.deviantart.com/anixys/art/Draft-Horse-lineart-1-540905919">Draft Horse lineart 1 by Anixys</a></li>
				<li><a href="https://www.deviantart.com/jennyleigh/art/Free-Unicorn-Line-Art-591468115">Free Unicorn Line Art by jennyleigh</a></li>
				<li><a href="https://www.deviantart.com/yolistock/art/Unicorn-Lines-1-268114311">Unicorn Lines 1 by yolistock</a></li>
				<li><a href="https://www.deviantart.com/plaguedog/art/Unicorn-Lineart-88083737">Unicorn Lineart by plaguedog</a></li>
				<li><a href="https://www.deviantart.com/requay/art/Unicorn-Lines-164661194">Unicorn Lines by ReQuay</a></li>
				<li><a href="https://www.deviantart.com/offaldove/art/Unicorn-Lines-F2U-832057328">Unicorn Lines - F2U by Offaldove</a></li>
				<li><a href="https://www.deviantart.com/haloclimb/art/F2U-Adult-Fawnling-Base-740679371">F2U: Adult Fawnling Base by Haloclimb</a></li>
				<li><a href="https://www.deviantart.com/luda-stock/art/FREE-Curled-Horn-Greyscale-BEAST-Design-551123266">FREE Curled Horn Greyscale BEAST Design by LuDa-Stock</a></li>
			</ul>
		</div>
		<div class="tab-pane fade" id="platformerassets" role="tabpanel" aria-labelledby="platformerassets-tab">
			<p>Game Character sprite: <a href="https://rvros.itch.io/animated-pixel-hero">Animated Pixel Hero by rvros on itch.io</a></p>
    		<p>Sorceress sprites: <a href="https://red-baby.itch.io/sprite-pack-fantasy-female-white-hair">Sprite Pack - Fantasy Female White Hair by WitPOP/red-baby on itch.io</a></p>
    		<p>Forest Ranger sprite: <a href="https://aeynit.itch.io/four-characters">Four Characters by aeynit on itch.io</a></p>
    		<p>Portal VFX: <a href="https://opengameart.org/content/sci-fi-effects">Sci-Fi Effects by Skorpio on opengameart.org</a></p>
    		<p>"Loot" assets:</p>
			<ul>
				<li>Eye, Ruby, Blackberry, Medallion, Ring, Feather, Blue & Gold Book: <a href="https://ladyluck.itch.io/realistic-rpg-iconset-v1-32x32">Realistic RPG Iconset v1 (32x32) by LadyLuck on itch.io</a></li>
				<li>Purple Potion, Sword, Crystal Sword, Crystal Dagger, Leather-Bound Book, Parchment Scroll, Blue Crystal Shard, Shield: <a href="https://opengameart.org/content/handpainted-rpg-icons">Handpainted RPG icons by LudicArts on opengameart.org</a></li>
				<li>Star-shaped Diamond: <a href="https://www.freepik.com/free-vector/colored-realistic-isolated-gemstones-transparent-icon-set-precious-stones-shimmer-shine_4385575.htm">Colored realistic and isolated gemstones by macrovector on Freepik</a></li>
				<li>Cottage: <a href="https://ansimuz.itch.io/sunnyland-forest">Sunnyland Forest by Luis Zuno @ansimuz</a></li>
			</ul>
    		<p>Tilesets: </p>
			<ul>
				<li>Cutscene Locations: <a href="http://www.akashics.moe/terms-of-use/">Aekashics - Librarium Tileset</a></li>
				<li><a href="https://anokolisa.itch.io/high-forest-assets-pack">High forest Assets Pack by Anokolisa on itch.io</a></li>
				<li><a href="https://szadiart.itch.io/pixel-fantasy-caves">Pixel Fantasy "Caves" by Szadi Art on itch.io</a></li>
				<li><a href="https://ansimuz.itch.io/sunnyland-woods">Sunnyland Woods by ansimuz on itch.io</a></li>
				<li><a href="https://anokolisa.itch.io/kingdom-fortress">Kingdom Fortress Asset Pack by Anokolisa on itch.io</a></li>
				<li><a href="https://szadiart.itch.io/pixle-castle-2d">Pixel Castle 2D by Szadi Art on itch.io</a></li>
				<li><a href="https://szadiart.itch.io/pixel-dark-forest">Pixel Dark Forest by Szadi Art on itch.io</a></li>
				<li>Bookshelves, level 1: <a href="https://simon13666.itch.io/decoration-sprite-sheet">Decoration Sprite Sheet by simon13666 on itch.io</a></li>
				<li>Library Tree, level 1: <a href="https://opengameart.org/content/castle-tiles-for-rpgs">Castle Tiles for RPG's by Hyptosis, Zabin, Daniel Cook on opengameart.org</a></li>
				<li>Pillars, Stairs, level 1: <a href="https://opengameart.org/content/castle-platformer">castle platformer by Jetrel on opengameart.org</a></li>
			</ul>  
		</div>
		<div class="tab-pane fade" id="equipperitem" role="tabpanel" aria-labelledby="equipperitem-tab">
			 <p>"Companion" creature sprites by <a href="http://www.akashics.moe/terms-of-use/">Aekashics - Librarium Static Battlers.</a></p>
			<p>"Tech" Pieces: </p>
			<ul>
				<li><a href="https://mobilegamegraphics.itch.io/invasion">Invasion Futuristic Game Kit by Mobile Game Graphics on itch.io</a></li>
				<li><a href="https://gamesupply.itch.io/isometric-treasure">Isometric Treasure by GameSupplyGuy on itch.io</a></li>
				<li><a href="https://gamesupply.itch.io/unusual-abstract-isometric-building-pack">Isometric Building Package by GameSupplyGuy on itch.io</a></li>
			</ul>
			<p>Flat Gems: GEMS ICON - FREE by <a href="https://ilustragm.itch.io/gems-icon-01-free">Giacomo Magalhães - GM ilustra on itch.io</a></p>
			<p>"Environment" Sprites</p>
			<ul>
				<li><a href="https://superbrutalassets.itch.io/2d-fantasy-medieval-pack">2D Fantasy Medieval Pack by Super Brutal Assets on itch.io</a></li>
				<li><a href="https://superbrutalassets.itch.io/2d-hand-painted-fantasy-tileset-bundle">2D Hand Painted- Fantasy Tileset Bundle by Super Brutal Assets on itch.io</a></li>
				<li><a href="https://aliennude.itch.io/2d-jungle-pack-handcrafted-art">2D Jungle Pack - Handcrafted Art by AlienNude on itch.io</a></li>
			</ul>
			<p>"Decorative" Item Sprites: </p>
			<ul>
				<li><a href="https://www.freepik.com/free-vector/treasury-icons-pile-golden-coins-jewelry-gem-cartoon-set-treasure-chest-bag-wooden-barrel-full-gold-goblet-crown-scepter-dagger_10654711.htm">Treasury icons by upklyak on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/set-medieval-character_4543658.htm">Set of medieval character Free by brgfx on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/treasury-with-pile-golden-coins-jewelry-gem_10547488.htm">Treasury with pile of golden coins by upklyak on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/cartoon-treasure-chest-with-golden-coins-crystal-magic-gems-human-skull-crown-sword-gold-pile-goblet-with-precious-rocks-ancient-statue-burning-torch-vector-illustration-icons-set_10412469.htm">Cartoon treasure chest by upklyak on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/medieval-castle-interior-with-gold-royal-thrones_9396103.htm">Medieval castle interior with gold royal thrones Free Vector by upklyak on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/magic-amulets-crystal-book-spell-cauldron-with-boiling-potion-cartoon-icons-set-gui-elements-game-about-witchcraft-wizard-isolated-background_10308116.htm">Magic amulets, crystal, book of spell and cauldron by upklyak on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/set-witch-wizard-magic-hat-book-isolated-white-background_8825331.htm">Set of witch or wizard magic hat by brgfx on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/vector-sail-boats-with-white-red-black-sails_6993845.htm">Vector sail boats with white, red and black sails by upklyak on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/halloween-realistic-set_5972771.htm">Halloween realistic set by macrovector on Freepik</a></li>
				<li><a href="https://free-game-assets.itch.io/free-objects-for-2d-jump-games">Free Objects for 2D Jump Games by Free Game Assets (GUI, Sprite, Tilesets) on itch.io</a></li>
				<li><a href="https://ravenmore.itch.io/fantasy-icon-pack">Fantasy Icon Pack by Ravenmore on on itch.io</a></li>
				<li><a href="https://superbrutalassets.itch.io/2d-fantasy-medieval-pack">2D Fantasy Medieval Pack by Super Brutal Assets on itch.io</a></li>
				<li><a href="https://mobilegamegraphics.itch.io/adventure-game-kit">Free Fantasy Game Kit by Mobile Game Graphics on itch.io</a></li>
				<li><a href="https://www.freepik.com/free-vector/space-game-platform-cartoon-arcade-isolated-elements-spaceship-flying-rocks-alien-planets-computer-mobile-2d-gui-design-cosmos-adventure-universe-futuristic-illustration-set_10308079.htm">Space game platform, cartoon arcade by upklyak on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/unidentified-space-objects-ufo-space-ships-alien_1472047.htm">Unidentified space objects, ufo, space ships of alien Free Vector by vectorpocket on Freepik</a></li>
			</ul>
   		 	<p>"Tile Pieces": </p>
			<ul>
				<li><a href="https://superbrutalassets.itch.io/2d-fantasy-medieval-pack">2D Fantasy Medieval Pack by Super Brutal Assets on itch.io</a></li>
				<li><a href="https://superbrutalassets.itch.io/2d-hand-painted-fantasy-tileset-bundle">2D Hand Painted- Fantasy Tileset Bundle by Super Brutal Assets on itch.io</a></li>
			</ul>
		</div>
		<div class="tab-pane fade" id="landscapevectors" role="tabpanel" aria-labelledby="landscapevectors-tab">
			 <ul>
				<li><a href="https://www.freepik.com/free-vector/aurora-borealis-night-sky-waterfall_7660920.htm">Aurora borealis in night sky and waterfall Free Vector by vectorpouch on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/forest-scene-with-fullmoon-mist_1824690.htm">Forest scene with fullmoon and mist Free Vector by brgfx on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/illustration-scene-with-coconut-trees-beach_6486286.htm">Illustration scene with coconut trees on the beach Free Vector by brgfx on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/realistic-illustration-with-northern-lights-night-sky-forest-mountain_7498252.htm">Realistic illustration with northern lights in night sky over forest and mountain Free Vector by macrovector on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/sunset-sunrise-beach-tropical-landscape_7743409.htm">Sunset or sunrise on beach, tropical landscape Free Vector by upklyak on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/cartoon-forest-background-nature-park-landscape_8067055.htm">Cartoon forest background, nature park landscape Free Vector by upklyak on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/nature-scene-landscape-template_6126529.htm">Nature scene landscape template Free Vector by brgfx on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/northern-nature-landscape-with-mountains_5902260.htm">Northern nature landscape with mountains Free Vector by vectorpouch on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/interior-captain-cabin-pirate-ship_6641230.htm">Interior of captain cabin on pirate ship Free Vector by vectorpocket on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/space-fairy-tale-with-huge-whale_5901243.htm">Space fairy tale with huge whale Free Vector by vectorpouch on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/cave-with-treasure-pile-gold-coins-jewelry-gem_10412474.htm">Cave with treasure, pile of gold coins, jewelry and gem Free Vector by upklyak on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/magic-room-interior-with-witch-stuff-cauldron-staff-with-bird-skull-burning-candles-potion-beakers-bones-potted-plant-front-arch-window-with-starry-sky-view-pc-game-cartoon-illustration_11420869.htm">Magic room interior with witch stuff by upklyak on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/hall-interior-with-ghost-medieval-castle_9668758.htm">Hall interior with ghost in medieval castle Free Vector by upklyak on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/castle-corridor-with-staircase-columns-arches_8792350.htm">Castle corridor with staircase, columns and arches Free Vector by upklyak on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/castle-ballroom-night-empty-palace-hall-interior-with-glowing-lamps_10385706.htm">Castle ballroom, night empty palace hall interior with glowing lamps Free Vector by upklyak on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/magic-school-classroom-interior-with-wooden-desks-pupils-teacher_9396061.htm">Magic school, classroom interior with wooden desks by upklyak on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/old-castle-hall-with-ghosts-dark-scary-palace-room_9292979.htm">Old castle hall with ghosts dark scary palace room Free Vector by upklyak on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/vector-landscape-with-swamp-tropical-forest_7588747.htm">Vector landscape with swamp in tropical forest Free Vector by upklyak on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/egypt-desert-with-hatshepsut-temple-camel_7852704.htm">Egypt desert with hatshepsut temple and camel Free Vector by upklyak on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/vector-cartoon-background-with-wooden-magic-door-with-window-ystery-portal_4393934.htm">Vector cartoon background with wooden magic door by vectorpouch on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/dark-cave-landscape_2722247.htm">A dark cave landscape Free Vector by brgfx on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/wooden-boat-tree_1554311.htm">A wooden boat under the tree Free Vector by brgfx on Freepik</a></li>
				<li><a target="_blank" href="https://www.vexels.com/vectors/preview/145226/winter-forest-landscape-illustration"> Winter forest landscape illustration </a> | Free vector by <a target="_blank" href="https://www.vexels.com/">Vexels</a></li>
				<li><a href="https://www.vexels.com/vectors/preview/150238/geometrical-arcade-illustration"> Geometrical arcade illustration </a> | designed by Vexels</li>
				<li><a href="https://www.freepik.com/free-vector/magic-deer-night-forest-mystical-stag-with-glowing-eyes-body-soul-nature-wood-protector-totemic-animal-trees-mountain-landscape-majestic-reindeer-cartoon-illustration_10798335.htm">Magic deer in night forest, mystical stag with glowing eyes by upklyak on Freepik</a></li>
				<li><a href="https://www.freepik.com/free-vector/winter-forest-with-frozen-pond_12566919.htm">Winter forest with frozen pond. Free Vector by upklyak on Freepik</a></li>
			</ul>
		</div>
		<div class="tab-pane fade" id="siteuistock" role="tabpanel" aria-labelledby="siteuistock-tab">
			 <ul>
				<li><a href="https://www.freepik.com/premium-vector/sunrise-landscape-forest_793673.htm">Sunrise Landscape Forest designed by Freepik*</a></li>
				<li><a href="https://www.freepik.com/free-vector/background-with-iceberg_978325.htm">Background with an iceberg Free Vector
		 by 0melapics on Freepik*</a></li>
				<li><a href="https://www.freepik.com/premium-vector/forest-silhouettes_794745.htm">Forest Silhouettes designed by Freepik*</a></li>
				<li><a href="https://www.freepik.com/free-vector/desert-landscape-vector_757702.htm">Desert Landscape vector designed by Freepik*</a></li>
				<li><a href="https://www.freepik.com/premium-vector/savannah-landscape_765977.htm">Savannah Landscape designed by Freepik*</a></li>
				<li><a href="https://www.freepik.com/premium-vector/classic-spartan-helmet-with-gradient-style_3272703.htm">Roman Gladiator Helmet designed by Freepik*</a></li>
				<li><a href="https://www.freepik.com/premium-vector/science-elements-with-test-tubes-molecules_713905.htm">Science elements with test tubes and molecules designed by Freepik*</a></li>
				<li><a href='https://bsconseils.fr/un-peu-dhistoire-4-4/500px-photo-id-173658877/'>Compass Map Photo ^</a> </li>
				<li><a href="https://www.artstation.com/artwork/9NrXO">3D Fantasy Map by Milan Vasek on Artstation</a></li>
				<li><a target="_blank" href="https://www.vexels.com/vectors/preview/1944/free-horse-vector-graphics"> Free horse vector graphics </a> | Free vector by <a target="_blank" href="https://www.vexels.com/">Vexels</a></li>
				<li><a href="https://www.freepik.com/premium-vector/elegant-background-unicorn-purple-rhombus_1230329.htm">Elegant background of unicorn and purple rhombus designed by Freepik*</a></li>
				<li><a href="https://www.vexels.com/vectors/preview/150775/colorful-unicorn-silhouette-set"> Colorful unicorn silhouette set </a> | designed by Vexels</li>
				<li><a href="https://www.freepik.com/premium-vector/old-treasure-chest-collection-with-flat-design_2620287.htm">Old treasure chest collection with flat design designed by Freepik*</a></li>
				<li><a href="https://www.freepik.com/premium-vector/various-pirate-items-treasure-chest_1136780.htm">Various pirate items and treasure chest designed by Freepik*</a></li>
				<li><a href="https://www.vecteezy.com/vector-art/133943-swamp-background-free-vector">Swamp Background Nature Vector | Nature Vectors by Vecteezy</a></li>
				<li><a href="https://clipart.me/nautical-theme-vector-4863">Free Nautical Theme Clip Art | Clipart.Me</a></li>
				<li><a href="https://www.freepik.com/free-photo/brown-papyrus-paper_2765776.htm">Brown Papyrus Paper texture photo created by rawpixel.com - www.freepik.com</a></li> 
			</ul>
			<p>* These vector resources were available under a free license at time of acquisition, and have since been changed to premium by license holder. They are used here per the terms of the free license under which they were originally acquired.</p>
			<p>^ This resource was acquired on Freepik and is no longer available. Given link is closest original source.</p>
		</div>
		<div class="tab-pane fade" id="brushes" role="tabpanel" aria-labelledby="brushes-tab">
			<ul>
				<li><a href="https://www.deviantart.com/mylastblkrose/art/Sparkle-Splatter-GIMP-Brushes-138045906">Sparkle.Splatter GIMP Brushes by MyLastBlkRose on deviantArt</a></li>
				<li><a href="https://www.deviantart.com/redheadstock/art/Arcane-Runes-Photoshop-and-GIMP-Brushes-63579836">Arcane Runes Photoshop and GIMP Brushes by redheadstock on deviantArt</a></li>
				<li><a href="https://www.deviantart.com/redheadstock/art/Arcane-Runes-III-Photoshop-and-GIMP-Brushes-821121865">Arcane Runes III Photoshop and GIMP Brushes by redheadstock on deviantArt</a></li>
				<li><a href="https://www.deviantart.com/project-gimpbc/art/GIMP-Arcane-Runes-Brushes-69681562">GIMP Arcane Runes Brushes by Project-GimpBC on deviantArt</a></li>
				<li><a href="https://www.deviantart.com/mylastblkrose/art/Sparkly-Glittery-GIMP-Brushes-137921634">Sparkly.Glittery GIMP Brushes by MyLastBlkRose on deviantArt</a></li>
				<li><a href="https://www.deviantart.com/hexe78/art/Chinese-Cloud-Brushes-v-2-170770714">Chinese Cloud Brushes v.2 by Hexe78 on deviantArt</a></li>
			</ul>
		</div>
	</div>    
</div>    
<% include ./partials/footer %>
