<% include ./partials/header %>
<% include ./partials/navbar %>

<div class="customizebox container-fluid text-center d-flex h-100 flex-column">
    <div class="row flex-grow-1 my-3">
        <div class="col-12 col-xl-6">
            <form action="" name="customizegenerator" class="customizegenerator">
                <div class="genepicker dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                    <input type="color" name="colorpicker" id="" class="customcolorpicker">
                </div>
                <div class="genepicker dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                    <input type="color" name="colorpicker" id="" class="customcolorpicker">
                </div>
                <div class="genepicker dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                    <input type="color" name="colorpicker" id="" class="customcolorpicker">
                </div>
                <div class="buttons">
                    <button class="btn btn-primary">Test</button>
                    <button class="submit btn btn-success">Confirm</button>
                </div>
            </form>
        </div>
        <div class="col-12 col-xl-6">
            <img src="../resources/unicons/starry.png" alt="" class="img-fluid">
        </div>
    </div>
</div>

<% include ./partials/footer %>
