<% include ./partials/header %>

<div class="directorypage">
	<% include ./partials/navbar %>
	<div class="directory-list">
		<ul class="userlist">
			<h2 class="directoryheader">
				Directory of Registered Adventurers
			</h2>
			<% registeredUsers.forEach(function(user){ %>
				<li>
					<a href="/home/<%= user.userid %>"><%= user.username %></a>
				</li>			
			<% }); %>
		</ul>
	</div>
</div>







<% include ./partials/footer %>