<% include ./partials/header %>

<div class="unicornpage container-fluid">
	<% include ./partials/navbar %>
    <div class="textboxes">
        <img src="<%= unicorn.uniPic %>" class="img-fluid">
		<hr>
		<h2>Edit <%= unicorn.name %>'s Lore</h2>
		<form action="/home/unicorn/<%= unicorn._id %>?_method=PUT" method="POST" name="lore">
			<fieldset class="m-2">
				<textarea name="unicorn[lore]" class="w-100 lore-edit"><%= unicorn.lore %></textarea>
			</fieldset>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
    </div>
</div>


<% include ./partials/footer %>