<% include ./partials/header %>

<div class="equippage container-fluid">
	<% include ./partials/navbar %>
    <div class="equipscreen d-flex flex-column flex-lg-row row">
        <div class="equipmenu col-12 col-lg-6">
            <form action="" name="equiproom" class="equiproom">
                <ul class="yourinventory nav nav-tabs nav-fill justify-content-center bg-dark my-2 border border-light" id="myTab" role="tablist">
					  <li class="nav-item">
						<a class="nav-link active" id="wearable-tab" data-toggle="tab" href="#wearable" role="tab" aria-controls="wearable" aria-selected="true"><i class="fas fa-hat-wizard"></i> Wearable</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" id="companions-tab" data-toggle="tab" href="#companions" role="tab" aria-controls="companions" aria-selected="false"><i class="fas fa-dog"></i> Companions</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" id="accessories-tab" data-toggle="tab" href="#accessories" role="tab" aria-controls="accessories" aria-selected="false"><i class="far fa-gem"></i> Accessories</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" id="scenery-tab" data-toggle="tab" href="#scenery" role="tab" aria-controls="scenery" aria-selected="false"><i class="fas fa-tree"></i> Scenery</a>
					  </li>
				</ul>

				<div class="tab-content equip-tabs">
					<div class="tab-pane fade show active" id="wearable" role="tabpanel" aria-labelledby="wearable-tab">
						<a><img src=""></a>
						<a><img src=""></a>
						<a><img src=""></a>
						<a><img src=""></a>
					</div>
					<div class="tab-pane fade" id="companions" role="tabpanel" aria-labelledby="companions-tab">
						<a><img src=""></a>
						<a><img src=""></a>
						<a><img src=""></a>
						<a><img src=""></a>
						<a><img src=""></a>
						<a><img src=""></a>
					</div>
					<div class="tab-pane fade" id="accessories" role="tabpanel" aria-labelledby="accessories-tab">
						<a><img src=""></a>
						<a><img src=""></a>
						<a><img src=""></a>
						<a><img src=""></a>
						<a><img src=""></a>
						<a><img src=""></a>
						<a><img src=""></a>
						<a><img src=""></a>
						<a><img src=""></a>
					</div>
					<div class="tab-pane fade" id="scenery" role="tabpanel" aria-labelledby="scenery-tab">
						<a><img src=""></a>
						<a><img src=""></a>
						<a><img src=""></a>
						<a><img src=""></a>
						<a><img src=""></a>
						<a><img src=""></a>
						<a><img src=""></a>
						<a><img src=""></a>
						<a><img src=""></a>
						<a><img src=""></a>
						<a><img src=""></a>
						<a><img src=""></a>
					</div>
				</div>
            </form>
        </div>
        <div class="getfashionable col-12 col-lg-6 my-2">
			<div class="btn-group">
			  <button type="button" class="btn btn-dark dropdown-toggle border border-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Select Unicorn
			  </button>
			  <div class="dropdown-menu">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Separated link</a>
			  </div>
			</div>
            <img src="" alt="" class="equipme img-fluid">
        </div>
    </div>
</div>

<% include ./partials/footer %>