<% include ./partials/header %>

<div class="equippage container-fluid">
	<% include ./partials/navbar %>
    <div class="equipscreen d-flex flex-column flex-md-row row">
        <div class="col-12 col-lg-3 my-1">
			<% include ./partials/equipmenu %>
		</div>
        <div id="getfashionable" class="col-12 col-lg-9 my-1">
			<form id="equipform">
				<label for="unicornSelect" class="select-label bg-dark border border-light rounded-1 p-2">Equip Items: Choose a Unicorn</label>
				<select name="yourUnicorns" class="custom-select text-center" id="unicornSelect" aria-label="choose a unicorn">
					<option value="" selected>--Please choose an option--</option>
					<% loggedInUser.unicorns.forEach(function(unicorn){ %>
					<option value="<%= unicorn._id %>" class="unicorn" data-url="<%= cloudinary.url(`${unicorn.imgs.baseImg.public_id}.png`, {secure: "true", cloud_name: cloudname, version: unicorn.imgs.baseImg.version}) %>"><%= unicorn.name %></option>
					<% }); %>	
				</select>
				<a class="d-inline float-end mx-3"><i class="fas fa-question-circle fa-2x" data-bs-toggle="modal" data-bs-target="#helpModal" data-bs-origin="equip" aria-hidden="true" title="Help: Equipper"></i><span class="sr-only">Equipper Instructions</span></a>
			</form>
			<div class="d-flex flex-column justify-content-center">
				<div class="canvasbuttons m-1">
					<button id="layerDown" class="btn btn-primary btn-sm m-1" aria-label="move item behind unicorn">
						Move Item Behind Unicorn
					</button><button id="layerUp" class="btn btn-primary btn-sm m-1" aria-label="move item in front of unicorn">
						Move Item In Front of Unicorn
					</button><button id="moveUp" class="btn btn-primary btn-sm m-1" aria-label="move item up one layer">
						Move Item Up 1 Layer
					</button><button id="moveDown" class="btn btn-primary btn-sm m-1" aria-label="move item down one layer">
						Move Item Down 1 Layer
					</button><button id="unscale" class="btn btn-warning btn-sm m-1" aria-label="reset item size">
						Reset Item
					</button><button id="remove" class="btn btn-danger btn-sm m-1" aria-label="remove item">
						Remove Item
					</button>
				</div>
				<div class="row mx-auto">
					<div id="container" class="col-12"></div>
				</div>
				<div class="equipperForm">
					<form action="/equip?_method=PUT" method="POST" enctype="multipart/form-data" name="submitForm">
						<button type="button" id="equipperSubmit" class="btn btn-success m-1" name="equipperButton" value="" data-bs-toggle="modal" data-bs-target="#progressPopup">Save Equips</button>
					</form>
				</div>
			</div>
        </div>
    </div>
</div>
<% include ./partials/helpModal %>
<% include ./partials/progressPopup %>
<script>
	const el = document.querySelector('img');
	const observer = window.lozad('.lozad', {
   		 loaded: function(el) {
			el.classList.add('loaded');
		}
	});
	observer.observe();
	
	var yourUnicorns = <%- JSON.stringify(loggedInUser.unicorns) %>;

	//collapsible tabs behavior:
	var toggle = document.querySelector("#toggle");
	toggle.addEventListener("click", (event)=>{
		var activePane = document.querySelector(".active.show");
		if(!activePane) {
			return
		} else {
			activePane.classList.remove("active", "show");
		}
	});
	
</script>
<script src="../../scripts/equippersetup.js"></script>
<script src="../../scripts/equipper.js"></script>
<script src="../../scripts/equipsubmit.js"></script>
<% include ./partials/footer %>