<% include ./partials/header %>
<% include ./partials/navbar %>

<div class="equipbox container-fluid text-center d-flex h-100 flex-column">
    <div class="row flex-grow-1 my-3">
        <div class="col-12 col-xl-6">
            <form action="" name="equiproom" class="equiproom">
                <fieldset>
                    <legend>Your Equips:</legend>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Wearable</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Gear</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Companions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Environment</a>
                        </li>
                    </ul>
                    <div class="equiplist">
                        <a href="" class="item"><img src="../resources/inventory_icons/horsehelmet_icon.png" alt="" id="" class="itemicon"></a>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-12 col-xl-6">
            <img src="../resources/unicons/starry.png" alt="" class="img-fluid">
        </div>
    </div>
</div>

<% include ./partials/footer %>