<% include ./partials/header %>
<div class="explorepage container-fluid">
	<% include ./partials/navbar %>
	<div class="d-flex flex-column justify-content-center">
		<div class="row mx-auto">
			<div class="d-grid gap-2">
				<button class="btn btn-outline-dark fairytale-textbox w-75 mx-auto my-2 p-2" type="button" data-bs-toggle="modal" data-bs-target="#helpModal" data-bs-origin="explore">How To Play: Instructions</button>
			  </div>
			<div id="gamedoor" class="col-12">
				<p class="fairytale-textbox mx-auto my-2 p-2">
					This is the portal to begin your exploration of the Sunflame world. Enter through the door below and speak to the sorceress, who will send you on your journey.
				</p>
				<img class="img-fluid my-5 mx-auto" id="magicdoor" src="../../assets/background_imgs/site_layout_backgrounds/magicdoor.png" alt="vector image of a wooden door set into a grey stone wall. The door has an oval window glowing blue, and a circular handle. Atop the door frame is a glowing blue rune. There is magical vapor and blue sparks rising in front of the door. Flanking the door are two small trees. Dark pink roses grow next to the door along the wall. The image is darkly lit, as if it is nighttime. This door is the portal to begin your exploration of the Sunflame world.">
			</div>
		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/phaser-ce@2.16.2/build/phaser.min.js"></script>
<script src="/build/phaser-arcade-slopes.js"></script>
<script type="module" src="/build/scripts/index.js"></script>
<% include ./partials/helpModal %>
<% include ./partials/footer %>