<% include ./partials/header %>
<div class="h-100 text-center">
    <img class="img-fluid" src="/assets/site_imgs/site_headers/unicornheader.png">
    <div class="container">
        <img src="/assets/site_imgs/site_logos/logo_hi.png" class="img-fluid w-75 m-3" alt="Responsive image">
        <p class="sr-only">Welcome to Sunflame Mountain</p>
        <p class="textboxes lead border border-dark p-1">It's nice to meet you, <%= currentUser.username %>. Now you must choose your herd founder. This is the unicorn with whom you'll begin your journey. Follow your instincts and choose carefully.</p>
		<p class="textboxes lead border border-dark p-1">How to use the genetic builder: Select one of the base species from the grid at the bottom. Choose genes (markings for the body, mane, tail, etc) from the selection menus. Click "Preview" to see your gene choices in the builder display. To clear a gene selection from a slot, set the menu dropdown to the "Clear Slot" option and click Preview to update your selections in the display. Change the base colors and gene colors by clicking the button for the slot you want to change, and then use the color wheel and hue slider to pick a color. The active color slot's button will have a green outline, making it easier to keep track of which slot you're currently on. The color wheel will update the selected slot's color automatically without needing to click "Preview" again. Some genes are not colorable; for these, the gene color will not change in the builder display if you use the color wheel on that gene slot. If you do not set a color for a colorable slot, it will default to black(#000000). You may fill as many or as few gene slots and color slots as you wish; none of them are required. (But you do need to choose a base species, please!) When you're satisfied with your selections, click "Build" at the bottom of the page.
		</p>
    </div>
	<div class="d-flex flex-column justify-content-center">
		<div id="picker" class="mx-auto"></div>
		<div class="row mx-auto">
			<div id="container" class="col-12 bg-light border border-dark rounded"></div>
		</div>
	</div>
	<% include ./partials/colorSelectors %>
	<% include ./partials/geneMenus %>
	<button type="button" class="previewButton btn w-50 mx-auto btn-primary" id="previewer">
		Preview
	</button>
    <div class="d-flex flex-column justify-content-center">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3 align-items-stretch">
				<div class="card">
                    <img class="founders card-img-top" src="/assets/unicorn_base_imgs/arabiancorn/arabiancorn_base_lineart.png" id="ara" alt="Card image">
                    <div class="uniCard card-body">
                        <h5 class="card-title">Wind Strider</h5>
                        <p class="card-text">Native Region: Desert</p>
                    </div>
                </div>
            </div>
			<div class="col-12 col-sm-6 col-lg-3 align-items-stretch">
				<div class="card">
                    <img class="founders card-img-top" src="/assets/unicorn_base_imgs/arcticcorn/arcticcorn_base_lineart.png" id="arc" alt="Card image">
                    <div class="uniCard card-body">
                        <h5 class="card-title">Breed Name</h5>
                        <p class="card-text">Breed Native Region</p>
                    </div>
                </div>
            </div>
			<div class="col-12 col-sm-6 col-lg-3 align-items-stretch">
				<div class="card">
                    <img class="founders card-img-top" src="/assets/unicorn_base_imgs/deericorn/deericorn_base_lineart.png" id="dee" alt="Card image">
                    <div class="uniCard card-body">
                        <h5 class="card-title">Breed Name</h5>
                        <p class="card-text">Breed Native Region</p>
                    </div>
                </div>
            </div>
			<div class="col-12 col-sm-6 col-lg-3 align-items-stretch">
				<div class="card">
                    <img class="founders card-img-top" src="/assets/unicorn_base_imgs/jumpingcorn/jumpingcorn_base_lineart.png" id="jum" alt="Card image">
                    <div class="uniCard card-body">
                        <h5 class="card-title">Breed Name</h5>
                        <p class="card-text">Breed Native Region</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 align-items-stretch">
				<div class="card">
                    <img class="founders card-img-top" src="/assets/unicorn_base_imgs/liondeercorn/liondeercorn_base_lineart.png" id="lio" alt="Card image">
                    <div class="uniCard card-body">
                        <h5 class="card-title">Breed Name</h5>
                        <p class="card-text">Breed Native Region</p>
                    </div>
                </div>
            </div>
			<div class="col-12 col-sm-6 col-lg-3 align-items-stretch">
				<div class="card">
                    <img class="founders card-img-top" src="/assets/unicorn_base_imgs/prettycorn/prettycorn_base_lineart.png" id="pre" alt="Card image">
                    <div class="uniCard card-body">
                        <h5 class="card-title">Breed Name</h5>
                        <p class="card-text">Breed Native Region</p>
                    </div>
                </div>
            </div>
			<div class="col-12 col-sm-6 col-lg-3 align-items-stretch">
				<div class="card">
                    <img class="founders card-img-top" src="/assets/unicorn_base_imgs/rearingcorn/rearingcorn_base_lineart.png" id="rea" alt="Card image">
                    <div class="uniCard card-body">
                        <h5 class="card-title">Breed Name</h5>
                        <p class="card-text">Breed Native Region</p>
                    </div>
                </div>
            </div>
			<div class="col-12 col-sm-6 col-lg-3 align-items-stretch">
				<div class="card">
                    <img class="founders card-img-top" src="/assets/unicorn_base_imgs/traditionalcorn/traditionalcorn_base_lineart.png" id="tra" alt="Card image">
                    <div class="uniCard card-body">
                        <h5 class="card-title">Breed Name</h5>
                        <p class="card-text">Breed Native Region</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="builderbox" id="targetbox">
		<div class="builderForm">
			<form action="/founder" method="POST" enctype="multipart/form-data" name="submitForm" id="submitform">
				<button type="button" id="founderSubmit" class="btn btn-success w-75" name="builderButton" value="" disabled="true">Build</button>
			</form>
		</div>
	</div>
</div>
<script>
	var Breeds = '<%- JSON.stringify(Breeds) %>';
	var parsedBreeds = JSON.parse(Breeds);
	var yourTokens = <%- JSON.stringify(currentUser.tokens) %>;
</script>
<script src="../../scripts/buildvariables.js"></script>
<script src="../../scripts/buildsetup.js"></script>
<script src="../../scripts/founderbuilder.js"></script>
<script src="../../scripts/buildsubmitscripts.js"></script>
<% include ./partials/footer %> 
