<% include ./partials/header %>
<div class="indexpage container-fluid" style="background-image: url(../<%= yourRegion.homeBG %>)">
	<% include ./partials/navbar %>
    <div class="my-5">
        <div class="menugroup d-flex justify-content-around flex-column flex-md-row m-4">
            <div class="">
					<a class="indexmenu-item" href="/home"><img src="../resources/herdicon.png" alt="Your Homepage" class="menu-img img-fluid"><span class="sr-only">(current)</span></a>
				</div>
				<div class="">
					<a class="indexmenu-item" href="/directory"><img src="../resources/visiticon.png" alt="Directory" class="menu-img img-fluid"></a>
				</div>
				<div class="">
					<a class="indexmenu-item" href="/map"><img src="../resources/exploreicon.png" alt="Exploration Map" class="menu-img img-fluid"></a>
				</div>
        </div>
		<div class="menugroup d-flex justify-content-around flex-column flex-md-row m-4">
            <div class="">
					<a class="indexmenu-item" href="/inventory.html"><img src="../resources/inventoryicon.png" alt="Your Inventory" class="menu-img img-fluid"></a>
				</div>
				<div class="">
					<a class="indexmenu-item" href="/equip.html"><img src="../resources/equipicon.png" alt="Equip Items" class="menu-img img-fluid"></a>
				</div>
				<div class="">
					<a class="indexmenu-item" href="/customize.html"><img src="../resources/customizeicon.png" alt="Customize Your Unicorns" class="menu-img img-fluid"></a>
				</div>
        </div>
    </div>
</div>

<% include ./partials/footer %>