<% include ./partials/header %>
<% include ./partials/navbar %>

<div class="homepage container-fluid text-center d-flex flex-column justify-content-center h-100">
    <nav class="homepage-menu container-fluid">
        <div class="nav row justify-content-around">
            <a class="nav-item nav-link active" href="/home"><img src="../resources/unicorn.png" alt="Go to Your Homepage" class="menu-img img-fluid">Your Herd <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/directory"><img src="../resources/visiticon.png" alt="Directory" class="menu-img img-fluid">Visit</a>
            <a class="nav-item nav-link" href="#"><img src="../resources/vintagecompass.png" alt="Go to Exploration Map" class="menu-img img-fluid">Explore</a>
            <a class="nav-item nav-link" href="/inventory.html"><img src="../resources/inventoryicon.png" alt="Go to Inventory" class="menu-img img-fluid">Inventory</a>
            <a class="nav-item nav-link" href="/equip.html"><img src="../resources/equipicon.png" alt="Equip Items" class="menu-img img-fluid">Equip</a>
            <a class="nav-item nav-link" href="/customize.html"><img src="../resources/customizeicon.png" alt="Customize Your Unicorns" class="menu-img img-fluid">Customize</a>
        </div>
    </nav>
</div>

<% include ./partials/footer %>