<% include ./partials/header %>
<div class="indexpage container-fluid" style="background-image: url(/../<%= loggedInUser.region.homeBG %>)">
	<% include ./partials/navbar %>
    <div class="my-5">
        <div class="menugroup d-flex justify-content-around flex-column flex-md-row m-4">
            <div class="">
					<a class="indexmenu-item" href="/home/<%= loggedInUser.userid %>"><img src="/../../assets/site_imgs/site_icons/herdicon.png" alt="Your Homepage" class="menu-img img-fluid"><span class="sr-only">(current)</span></a>
				</div>
				<div class="">
					<a class="indexmenu-item" href="/directory"><img src="/../../assets/site_imgs/site_icons/visiticon.png" alt="Directory" class="menu-img img-fluid"></a>
				</div>
				<div class="">
					<a class="indexmenu-item" href="/explore"><img src="/../../assets/site_imgs/site_icons/exploreicon.png" alt="Exploration Map" class="menu-img img-fluid"></a>
				</div>
        </div>
		<div class="menugroup d-flex justify-content-around flex-column flex-md-row m-4">
            <div class="">
					<a class="indexmenu-item" href="/inventory"><img src="/../../assets/site_imgs/site_icons/inventoryicon.png" alt="Your Inventory" class="menu-img img-fluid"></a>
				</div>
				<div class="">
					<a class="indexmenu-item" href="/equip"><img src="/../../assets/site_imgs/site_icons/equipicon.png" alt="Equip Items" class="menu-img img-fluid"></a>
				</div>
				<div class="">
					<a class="indexmenu-item" href="/build"><img src="/../../assets/site_imgs/site_icons/buildicon.png" alt="Customize Your Unicorns" class="menu-img img-fluid"></a>
				</div>
        </div>
    </div>
</div>
<script>
	var region = '<%- JSON.stringify(loggedInUser) %>';
	var parsed = JSON.parse(region);
</script>

<% include ./partials/footer %>