<% include ./partials/header %>
<div class="indexpage container-fluid" style="background-image: url(/../<%= loggedInUser.region.homeBG %>)">
	<% include ./partials/navbar %>
    <div class="my-5">
        <div class="menugroup d-flex justify-content-around flex-column flex-md-row m-4">
            <div class="">
				<a class="indexmenu-item" href="/home/<%= loggedInUser.userid %>"><img src="/../../assets/site_imgs/site_icons/herd.png" alt="Your Herd Homepage" class="menu-img img-fluid"><span class="sr-only">(current)</span></a>
			</div>
			<div class="">
				<a class="indexmenu-item" href="/directory"><img src="/../../assets/site_imgs/site_icons/visit.png" alt="Directory" class="menu-img img-fluid"></a>
			</div>
			<div class="">
				<a class="indexmenu-item" href="/explore"><img src="/../../assets/site_imgs/site_icons/explore.png" alt="Exploration Map" class="menu-img img-fluid"></a>
			</div>
        </div>
		<div class="menugroup d-flex justify-content-around flex-column flex-md-row m-4">
			<div class="">
				<a class="indexmenu-item" href="/equip"><img src="/../../assets/site_imgs/site_icons/equip.png" alt="Equip Items To Your Unicorns" class="menu-img img-fluid"></a>
			</div>
			<div class="">
				<a class="indexmenu-item" href="/inventory"><img src="/../../assets/site_imgs/site_icons/inventory.png" alt="Browse All Equippable Items" class="menu-img img-fluid"></a>
			</div>
			<div class="">
				<a class="indexmenu-item" href="/build"><img src="/../../assets/site_imgs/site_icons/build.png" alt="Customize Your Unicorns or Create New Ones" class="menu-img img-fluid"></a>
			</div>
        </div>
    </div>
</div>
<script>
	var region = '<%- JSON.stringify(loggedInUser) %>';
	var parsed = JSON.parse(region);
</script>

<% include ./partials/footer %>