<% include ./partials/header %>
<% include ./partials/navbar %>

<div class="inventorybox jumbotron jumbotron-fluid text-center my-0">
    <div class="container">
        <form action="" name="inventoryroom" class="inventoryroom">
            <fieldset>
                <legend>Your Inventory:</legend>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Wearable</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gear</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Companions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Environment</a>
                    </li>
                </ul>
                <div class="inventorylist">
                    <a href="" class="item"><img src="../resources/inventory_icons/horsehelmet_icon.png" alt="" id="" class="itemicon"></a>
                    
                </div>
            </fieldset>
        </form>
    </div>
</div>

<% include ./partials/footer %>