<% include ./partials/header %>

<div class="introbox container-fluid">
    <div class="my-5">
        <h1 class="headertext display-4">Your Journey Begins Here</h1>
        <img src="/assets/site_imgs/site_logos/logo_hi.png" class="bigwelcomelogo img-fluid mx-auto" alt="Responsive image">
        <p class="sr-only">Welcome to Sunflame Mountain</p>
        <div class="buttongroup d-flex justify-content-around flex-column flex-md-row">
            <a class="btn btn-primary m-1 border border-light border-2" href="/register" role="button">Go to Registration</a>
            <a class="btn btn-primary m-1 border border-light border-2" href="/login" role="button">Returning Login</a>
            <a class="btn btn-primary m-1 border border-light border-2" href="/credits" role="button">Credits</a>
            <a class="btn btn-primary m-1 border border-light border-2" href="/about" role="button">About the Project</a>
        </div>
        <p class="textboxes lead border border-dark">Disclaimer: This is a temporary demo. User data will not be retained in any future commercial release of the game. This includes usernames, user data including email addresses, user ID numbers, passwords, inventory, pets, and pet stats. If you wish to keep records of your pets from this demo, please save images to your personal devices. Screenshots may be kept for your personal records but please do not reuse for commercial purposes. All visual assets, aside from Sunflame Mountain logo images, are temporary and will be replaced with official, original art in any future commercial release. Please see credits page for vector resource credits and other asset credits. "Sunflame Mountain" and logos are the property of Sunflame Enterprises.</p>
    </div>
</div>

<% include ./partials/footer %>