/*GENERAL RULES*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: black;
    background-color: black;
    display: flex;
}

h1, .modal-title {
    font-family: 'IM FELL English SC', sans-serif;
} 
/*add any other elements that get this font to this rule*/

.bigwelcomelogo, .biglogo {
    width: 75%;
    margin: 1rem;
}

#sitelogo {
    width: 10%;
}

.navbar {
    font-size: 1.5rem;
}

.textboxes {
    background-color: rgb(192,192,192);
    background-color: rgba(192,192,192,0.8);
    font-family: sans-serif;
    text-align: center;
    padding: 1.5rem;
    margin: 1.5rem;
}


/*NEW PLAYER PAGE RULES*/
.introbox {
    background-image: url("../resources/indexBG.png");
    text-align: center;
    width: 100%;
    position: absolute;
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.entryform label {
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: bold;
}

.gridCard {
    background-color: black;
}

.uniCard {
    border-color: antiquewhite;
    background-color: rgb(192,192,192);
    background-color:rgba(192,192,192,0.8);
}


.founders {
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.regionMap {
    background-image: url("../resources/testmap.jpg");
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.regionCard .card-title {
    color: antiquewhite;
}

.regiontext {
    background-color: rgb(192,192,192);
    background-color: rgba(192,192,192,0.7);
}

#greenblack {
    background-image: url("../resources/cardBGs/troncard.png");
}
#pastel {
    background-image: url("../resources/cardBGs/softforest.png");
}
#starry {
    background-image: url("../resources/cardBGs/galaxy.png");
}
#heraldic {
    background-image: url("../resources/cardBGs/castleinterior.png");
}
#flaxensorrel {
    background-image: url("../resources/cardBGs/foggyforest.png");   
}
#deericorn {
    background-image: url("../resources/cardBGs/sunsetforest.png"); 
}
#traditional {
    background-image: url("../resources/cardBGs/prettynight.png");
}
#chocopalo {
    background-image: url("../resources/cardBGs/nightbeach.png");
}

#chooseModal {
    background-color: black;
}

.modal-title {
    text-decoration: underline;
    color: black;
}

.choosemodal-content {
    background-color: black;
    border-color: antiquewhite;
    text-align: center;
    font-size: 1.5rem;
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.founder-fullsize {
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    background-size: contain;
    background-position: 50% 50%;
}

.close {
    color: antiquewhite;
}



/*GAME PAGE RULES*/
.indexpage, .homepage {
    /* background-image: url("../resources/home_bgs/desertenvironment1.png"); */
    text-align: center;
    width: 100%;
    position: absolute;
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    min-height: 100vh;
}


/*MEDIA QUERIES*/









