/*GENERAL RULES*/
.tox {
    white-space: nowrap!important;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: black;
    background-color: black;
    display: flex;
}

h1, .headertext, .modal-title {
    font-family: 'IM FELL English SC', sans-serif;
} /*add any other elements that get this font to this rule*/

.bigwelcomelogo, .biglogo {
    width: 50%;
    margin: 1rem;
}

#sitelogo {
    width: 10%;
}

.textlogo {
	color: antiquewhite;
}

.navbar {
    font-size: 1.5rem;
}
.navbar-nav li a {
	font-weight: bold;
}
.navbar-collapse {
	background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}

.textboxes {
	border: 2px solid black;
    background-color: rgb(192,192,192);
    background-color: rgba(192,192,192,0.8);
    font-family: sans-serif;
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

.headertext {
	border: 3px solid black;
	border-radius: 2px;
	background-color: rgba(192,192,192,0.5);
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}

.formgroup {
	border: 3px solid black;
	border-radius: 2px;
	background-color: rgba(192,192,192,0.5);
	padding: 1rem;
	margin: 0.5rem auto 0.5rem auto;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#container {
	min-width: 500px;
	width: 100%;
}

/*NEW PLAYER PAGE RULES*/
.introbox {
    background-image: url("/../assets/background_imgs/site_layout_backgrounds/aurora.png");
    text-align: center;
    width: 100%;
    position: absolute;
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.entryform label {
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: bold;
}

.founders {
	max-width: 500px;
}

.founderpage #container{
	border-color: antiquewhite;
    background-color: rgb(255, 255, 255);
}

.regionMap {
    background-image: url("../../assets/background_imgs/site_layout_backgrounds/map.jpg");
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.regionCard .card-title {
    color: antiquewhite;
}

.regiontext {
    background-color: rgb(192,192,192);
    background-color: rgba(192,192,192,0.7);
}

#regionModal {
    background-color: black;
}

.modal-title {
    text-decoration: underline;
    color: black;
}

.regionmodal-content {
    background-color: black;
    border-color: antiquewhite;
    text-align: center;
    font-size: 1.5rem;
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.close {
    color: antiquewhite;
}



/*GAME PAGE RULES*/
.indexpage, .homepage, .unicornpage, .inventorypage, .equippage, .explorepage, .buildpage {
    text-align: center;
    width: 100%;
    position: absolute;
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.uniSlot-img {
	height: 150px;
	width: auto;
	object-fit: contain
}
.petcard {
	border: 3px double black;
	padding: 0.5rem;
}

.unicornhere {
	background-color: rgb(192,192,192);
    background-color: rgba(192,192,192,0.7);
	border: 2px solid black;
}
.biocontainer {
	background-color: oldlace;
	border: 2px solid navajowhite;
	border-radius: 2px;
	padding: 2rem;
	margin: 1rem;
}
#lore, #viewlore {
  	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
}
#loreform {
	border: 5px double black;
	min-height: 7rem;
}
#lore {
	min-height: 5rem;
}


.inventorypage, .equippage {
	background-image: url("../../assets/background_imgs/site_layout_backgrounds/equip_inventory_background_scaledup.png");
}
.yourinventory .nav-item .nav-link, .yourequip .nav-item .nav-link {
	color: ivory;
	border-radius: 0;
	border: 2px solid ivory;
	margin-left: auto;
	margin-right: auto;
}
.yourinventory .nav-item, .yourequip .nav-item {
	padding: 0.5rem;
	display: inline;
}
.yourinventory .nav-item .active, .yourequip .nav-item .active {
	background-color: darkcyan;
	font-weight: bold;
}
.inventorybox .tab-pane div, .equipbox .tab-pane div {
	background-color: burlywood;
	border: 1px solid wheat;
	padding: 0.2rem;
	margin: 0.2rem;
	text-transform: capitalize;
}
.tab-pane img {
	background-color: burlywood;
	padding: 0.2rem;
	margin: 0.2rem;
	max-width: 100px;
	overflow-x: hidden;
	max-height: 50px;
}
.tab-content {
	margin: auto;
    overflow-y: scroll;
    max-height: 500px;
	background-color: rgb(237, 235, 227);
	background-color: rgba(237, 235, 227, 0.7);
}
#modal-image {
	max-width: 100%;
}
.equip-tabs {
	background-color: cornsilk;
	border: 1px solid navajowhite; 
}

.buildpage {
	background-image: url("../../assets/background_imgs/site_layout_backgrounds/tron.png");
}
.picker-menu {
	background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            	linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            	linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
.colorSelector {
	border: 2px solid ivory;
	margin: 0.3rem;
}
.colorSelector:focus {
  	border: 4px solid limegreen;
}

#directory-list {
	background-image: url("../../assets/background_imgs/site_layout_backgrounds/parchment.jpg");
	text-align: center;
    width: 100%;
    position: absolute;
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.userlist {
	background-color: rgb(255, 235, 205);
	background-color: rgba(255, 235, 205, 0.7);
	margin: 1rem;
	padding: 1rem;
    overflow-y: scroll;
	border: 5px double black;
	height: 100vh;
}
.paginationTop, .paginationBottom {
	background-color: rgb(255, 235, 205);
	background-color: rgba(255, 235, 205, 0.7);
	text-align: center;
	border: 5px double black;
	margin: 0.5rem auto 0.5rem auto;
}
.directoryheader {
	background-color: rgb(255, 235, 205);
	background-color: rgba(255, 235, 205, 0.7);
	text-align: center;
	border: 5px double black;
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
}

.select-label {
	color: antiquewhite;
	border-radius: 0;
}


#gamedoor img, .fairytale-textbox, .instructions-button {
	/* width: 85%; */
	border: 10px ridge rgba(192,192,192,0.8);
}
.fairytale-textbox {
	background-color: aliceblue;
}

.creditspage .nav-item .nav-link {
	color: ivory;
	border-radius: 0;
	border: 2px solid ivory;
	margin-left: auto;
	margin-right: auto;
}
.creditspage .nav-item {
	padding: 0.5rem;
	display: inline;
}
.creditspage .nav-item .active {
	background-color: darkcyan;
	font-weight: bold;
}
.creditspage .tab-content {
	background: rgb(93,93,96);
	background: linear-gradient(90deg, rgba(93,93,96,1) 0%, rgba(213,211,211,1) 100%);
}
.creditspage .tab-pane {
	background: rgba(213,211,211,1);
	text-align: left;
	margin: 3rem;
	padding: 2rem;
}






